


<!-- <h1>Hello</h1> -->


{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Priyanshi Chandra</title>
   
    
</head>
<body>
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body" id="profile-wrapper">
                    <img id ="profile-pic" class="img-fluid" src="{% static 'images/Priyanshi-Chandra2.jpg' %}">
                    <hr>
                    <h4>Hi! I am Priyanshi Chandra</h4>
                    <p>I am currently a third year student at SVNIT, Surat. I am pursuing Integrated Master of Science in Applied Mathematics.</p>
                </div>
            </div>
        
            <div class="col-md-9">
                <div class="card card-body">
                    <h4>Education</h4>
                    <hr>
                    <ul>
                        <li>
                            <b>Sardar Vallabhbhai National Institute of Technology (SVNIT), Surat</b>
                            <p>Integrated Master of Science in Applied Mathematics (2019 - present) <br>CGPA : 9.56/10</p>
                        </li>
                        <li>
                            <b>Shri Gulab Rai Montessori Senior Secondary School, Bareilly</b>
                            <p>Higher Secondary Examination, CBSE (2017-2018) <br> 96.2%</p>
                        </li>
                        <li>
                            <b>Shri Gulab Rai Montessori Senior Secondary School, Bareilly</b>
                            <p>Secondary School Examination, CBSE (2015-2016) <br> CGPA : 10/10</p>
                        </li>
                        
                    </ul>
                    
                </div>
                
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body"></div>
            </div>
        
            <div class="col-md-6">
                <div class="card card-body"></div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body"></div>
            </div>
        
            <div class="col-md-6">
                <div class="card card-body"></div>
            </div>
        </div>
    </div>
   
    
</body>
</html>